Ensure the navbar is fixed at the top
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
}


.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.navbar-end {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.button {
  padding: 8px 15px;
  margin-left: 10px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}


.button:hover {
  background-color: #0056b3;
  color: white;
}

.box.has-background-info {
  background-color: #209cee; 
  color: white; 
  padding: 1rem;
  margin-top: 30px; 
  margin-left: 20px; 
  margin-right: 20px; 
  border-radius: 8px; 
}



.footer-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

.contact-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

